{
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": false,
        "targets": {
          "safari": "13",
          "chrome": "79",
          "firefox": "72",
          "edge": "79"
        }
      }
    ]
  ],
  "plugins": [
    "@babel/plugin-transform-parameters",
    [
      "@babel/plugin-transform-react-jsx",
      {
        "pragma": "h",
        "pragmaFrag": "Fragment"
      }
    ],
    "@babel/proposal-optional-chaining",
    "@babel/proposal-nullish-coalescing-operator"
  ]
}
